/* BLOCK EDITOR BACK END STYLES */
/* For styling the block editor only, gets loaded in admin dash not front end! */
.list-unstyled .block-editor-block-list__block li{
    padding-left: 0;
    list-style: none!important;
    display: flex;
}

.btn,
.btn:disabled{
      pointer-events: all!important;
  }

.wp-block-visible-selected{
    display: none;
}

.wp-block.is-selected .wp-block-zenbsgridblocks-button form.wp-block-zenbsgridblocks-button-link-form,
.wp-block.is-selected .zenbsgridblocks-icon-wrapper form.wp-block-zenbsgridblocks-button-link-form{
    display: flex;
    background: #f1f1f1;
    padding: 10px;
    max-width: 440px;
    max-height: 100px;
    justify-content: center;
    align-items: center;
}
.wp-block-zenbsgridblocks-button-link-form .components-base-control {
    flex-grow: initial;
}
.wp-block-zenbsgridblocks-button-link-form .components-base-control > div{
    margin-bottom: 0;
}
.wp-block-zenbsgridblocks-button-link-form .dashicon,
.wp-block-zenbsgridblocks-button-link-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.wp-block-zenbsgridblocks-button-link-form .dashicon {
    padding: 0 10px;
}
.wp-block-zenbsgridblocks-button-link-form button
 {
    /* background: #007cba;
    color: white; */
    padding: 0 40px;
}
.wp-block-zenbsgridblocks-button-link-form .dashicon,
.wp-block-zenbsgridblocks-button-link-form button,
.wp-block-zenbsgridblocks-button-link-form input  {
    height:33px;
}
.container-small,
.container-extra-small {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .container-small {
      max-width: 320px;
    }
    .container-extra-small {
        max-width: 320px;
    }
  }
  
  @media (min-width: 768px) {
    .container-small{
      max-width: 540px;
    }
    .container-extra-small {
        max-width: 320px;
    }
  }
  
  @media (min-width: 992px) {
    .container-small {
      max-width: 720px;
    }
    .container-extra-small {
        max-width: 540px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-small {
      max-width: 960px;
    }
    .container-extra-small {
        max-width: 720px;
    }
  }
/* Layout block */

div[data-type="zenbsgridblocks/row"]{
    flex: 1 1 100%;
}
div[data-type="zenbsgridblocks/container"],
.wp-block-zenbsgridblocks-section > section > .block-editor-inner-blocks{
    flex: 1 1 100%;
}
div[data-type="zenbsgridblocks/row"] .row > div{
    width: 100%;
}
div[data-type="zenbsgridblocks/row"] .row > div.block-editor-inner-blocks > .block-editor-block-list__layout{
    display:flex;
    flex-wrap: wrap;
}

.wp-block[data-type="zenbsgridblocks/container"] .block-editor-block-list__layout{
    padding-bottom: 50px;
}

.zenbsgridblocks-icon-wrapper{
    display: inline-flex;
    justify-content: center;
	align-items: center;
    border-width:0;
    border-style:solid;
}
.wp-block-zenbsgridblocks-button-link-form{
  display:none; 
}
.wp-block-visible-selected.wp-block-zenbsgridblocks-button-link-form{
    display:none; 
}

.wp-block-zenbsgridblocks-section,
div[data-type="zenbsgridblocks/row"],
div[data-type="zenbsgridblocks/col"],
div[data-type="zenbsgridblocks/div"],
div[data-type="zenbsgridblocks/responsive-spacer"],
div[data-type="zenbsgridblocks/container"]
{
    border:rgba(125,125,125,.4) solid 1px;
    border: rgba(0 ,124 ,186,.4) solid 1px;
    padding:0;
}

.wp-block-zenbsgridblocks-section div.col .col:not(div){
    border:rgba(125,125,125,.4) dashed 1px;
    border:none;
}
.wp-block[data-type="core/spacer"]{
    border:rgba(125,125,125,.4) dashed 1px;
}
.wp-block-zenbsgridblocks-section .col{
    background-color: transparent;
    background:transparent;
}
.wp-block-zenbsgridblocks-section .block-editor-block-list__layout{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap!important;
}
.wp-block-zenbsgridblocks-section .block-editor-block-list__layout .block-editor-block-list__layout{
    display: block;
}

.wp-block-zenbsgridblocks-section .block-editor-inner-blocks 
.block-editor-block-list__layout > .block-list-appender,
.wp-block-zenbsgridblocks-layout-hero-slider .block-editor-inner-blocks 
.block-editor-block-list__layout > .block-list-appender{
    width: 100%;
}
div[data-type="zenbsgridblocks/row"] > 
.block-editor-inner-blocks .block-editor-block-list__layout > 
.wp-block .col .block-editor-block-list__layout,
div[data-type="zenbsgridblocks/row"] > 
.block-editor-inner-blocks .block-editor-block-list__layout > 
.wp-block .col .block-editor-block-list__layout{
    display: block;
}
/* // Add in some labels for sections */
/* .wp-block > .wp-block-zenbsgridblocks-section .section:before, */
.wp-block[data-type="zenbsgridblocks/section"]:before,
.wp-block[data-type="zenbsgridblocks/col"]:before,
.wp-block[data-type="zenbsgridblocks/div"]:before,
.wp-block[data-type="zenbsgridblocks/row"]:before,
.wp-block[data-type="zenbsgridblocks/container"]:before,
div[data-type="zenbsgridblocks/responsive-spacer"]:before
{
    background-color: #F5F5F5;
    background-color: #007cba;
    content: "Section";
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 7px;
    display: block;
    z-index: 1;
    color: #9DA0A4!important;
    color: #fff!important;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 12px;
    /* font-weight: bold; */
    line-height: 18px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    width:auto;
    border: rgba(125,125,125,.4) solid 1px;
    text-transform: capitalize;
    border-radius: 0 0 2.5px 0;
    opacity: 1!important;
    height:25px;
}
.wp-block[data-type="zenbsgridblocks/container"]
{
    padding: 10px;
    padding-top: 35px!important;
}

.wp-block[data-type="zenbsgridblocks/col"]
{
    padding: 10px;
    padding-top: 20px!important;
}
.wp-block[data-type="zenbsgridblocks/div"],
.wp-block[data-type="zenbsgridblocks/row"],
.wp-block-zenbsgridblocks-section > section{
    padding: 10px;
    padding-top: 10px!important;
}
div[data-type="zenbsgridblocks/responsive-spacer"]:before{
    content: "Responsive spacer";
    top: -1px;
    left: -1px;
}
.wp-block[data-type="zenbsgridblocks/row"]:before{
    content: "Row";
    top: -1px;
    left: -1px;
}

.wp-block[data-type="zenbsgridblocks/col"]:before{
    content: "Column";
    top: -1px;
    left: -1px;
}
.wp-block[data-type="zenbsgridblocks/div"]:before{
    content: "Div";
    top: -1px;
    left: -1px;
}

.wp-block[data-type="zenbsgridblocks/container"]:before{
    content: "Container";
}

div[data-type="zenbsgridblocks/row"] > .block-editor-inner-blocks {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/*The row block*/
div[data-type="zenbsgridblocks/row"] > .block-editor-inner-blocks > .block-editor-block-list__layout{
    width: 100%;
    padding:10px;
}

.wp-block-zenbsgridblocks-section > section{
    position: relative;
    padding-bottom: 50px!important;
}

div[data-type="zenbsgridblocks/col"] > .col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*Changing height to 100% from auto will affect content images float outside containers*/
    height: 100%;
    padding-top: 45px;
    padding: 0;
    margin: 0;
}

.wp-block[data-type="zenbsgridblocks/col"] .col{
    width:100%;
    max-width: 100%;
}
.block-editor-block-list__block[data-type="zenbsgridblocks/col"]{
    min-height: 80px;
    margin-bottom: 10px;
}
.wp-block-zenbsgridblocks-section .col-undefined{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
div[data-type="zenbsgridblocks/col"] > .col{
    width:100%!important;
    max-width: 100%!important;
}

.wp-block-zenbsgridblocks-section > section{
    display:flex;
}

.wp-block-zenbsgridblocks-section .container{
    width:100%;
    /* height: 100%; */
}

.wp-block-zenbsgridblocks-section .container-fluid{
width: 100%;
}

.tint, .tint-slider{position: relative;}
.tint:before, .tint-slider:before{display:block;position:absolute;height:100%;width:100%;content:'';background-color:rgba(0, 0, 0, 0.1);z-index:0;top:0;left: 0;}
.tint-01:before, .tint-slider:before{background-color:rgb(0, 0, 0);}
.tint-01:before, .tint-slider:before{opacity:0.1;}
.tint-02:before{background-color:rgba(0, 0, 0, 0.2);}
.tint-03:before{background-color:rgba(0, 0, 0, 0.3);}
.tint-04:before{background-color:rgba(0, 0, 0, 0.4);}
.tint-05:before{background-color:rgba(0, 0, 0, 0.5);}
.tint-06:before{background-color:rgba(0, 0, 0, 0.6);}
.tint-07:before{background-color:rgba(0, 0, 0, 0.7);}
.tint-08:before{background-color:rgba(0, 0, 0, 0.8);}
.tint-09:before{background-color:rgba(0, 0, 0, 0.9);}

/*Gutters*/

.wp-block-zenbsgridblocks-section .row.gx-5 .wp-block.col{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.wp-block-zenbsgridblocks-section .row.gx-4 .wp-block.col{
    padding-right: .75rem;
    padding-left: .75rem;
}
.wp-block-zenbsgridblocks-section .row.gx-3 .wp-block.col{
    padding-right: .5rem;
    padding-left: .5rem;
}
.wp-block-zenbsgridblocks-section .row.gx-2 .wp-block.col{
    padding-right: .25rem;
    padding-left: .25rem;
}
.wp-block-zenbsgridblocks-section .row.gx-1 .wp-block.col{
    padding-right: .125rem;
    padding-left: .125rem;
}

.col .wp-block[data-align=left], .col .wp-block[data-align=right] {
    height: auto;
}

.col .wp-block[data-align=left] figure{
    align-items: flex-start;
}
.col .wp-block[data-align=right] figure{
    align-items: flex-end;
}
.col .wp-block[data-align=center] figure{
    align-items: center;
}

.col .block-editor-block-list__block{
    list-style: inside;
}
